<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container">
        <h1><%= budget.name %></h1>
        <form action="/budgets">
            <input type="submit" value="BACK" />
        </form>
        <h6><strong>date</strong></h6>
        <p><%= budget.date %></p>
        <h6><strong>name</strong></h6>
        <p><%= budget.name %></p>
        <h6><strong>from</strong></h6>
        <p><%= budget.from %></p>
        <h6><strong>amount</strong></h6>
        <p><%= budget.amount %></p>
        <h6><strong>tags</strong></h6>
        <p><%= budget.tags %></p>
    </div>
</body>
</html>