<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Budgtr</title>
</head>
<body>
    <div class="container">
        <h1><%= budget.name %></h1>
        <form action="/budgets">
            <input type="submit" value="BACK" />
        </form>
        <h6><strong>date</strong></h6>
        <p><%= budget.date %></p>
        <h6><strong>name</strong></h6>
        <p><%= budget.name %></p>
        <h6><strong>from</strong></h6>
        <p><%= budget.from %></p>
        <h6><strong>amount</strong></h6>
        <p><%= budget.amount %></p>
        <h6><strong>tags</strong></h6>
        <p><%= budget.tags %></p>
    </div>
</body>
</html>